# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Cargas / Datos persistentes locales
uploads/
uploads_*

# Entorno / Configuración local
.env

# Editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
